#listBody
{

	background:#f8f8f8 !important;
}
.ticketTitle
{
	border-bottom: 1px solid #cccccc;
margin-top: 10px;
padding: 10px;
font-size: 20px;
color: rgb(99, 97, 97);
margin-bottom: 10px;
}
.ticketContent
{
	padding:13px;
	line-height: 17px;
font-size: 13px;
color:rgb(77, 77, 77)

}
.btnUpdate
{
	margin:0px;
	float:right;
	text-decoration:none;
	line-height: 20px;
box-shadow: none;
position: relative;
display: inline-block;
padding: 0px 12px;
font-size: 13px;
font-weight: bold;
white-space: nowrap;
	color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: rgb(94, 151, 189);
background-image: -moz-linear-gradient(rgb(155, 207, 255),rgb(94, 151, 189));
background-image: -webkit-linear-gradient(rgb(155, 207, 255),rgb(94, 151, 189));
background-image: linear-gradient(rgb(155, 207, 255), rgb(94, 151, 189));
background-repeat: repeat-x;

border-radius: 3px;
border: 1px solid rgb(152, 207, 243);
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
}
.btnDelete
{
	text-align: center;
	margin-left: 15px;
	float: left;
text-decoration: none;
line-height: 20px;
box-shadow: none;
position: relative;
display: inline-block;
padding: 0px 12px;
font-size: 13px;
font-weight: bold;
white-space: nowrap;
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: rgb(255,48, 48);
background-image: -moz-linear-gradient(rgb(252,110,110),rgb(255,48,48));
background-image: -webkit-linear-gradient(rgb(252, 110, 110),rgb(255,48,48));
background-image: linear-gradient(rgb(252, 110, 110), rgb(255, 48, 48));
background-repeat: repeat-x;
border-radius: 3px;
border: 1px solid rgb(211, 55, 55);
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
}