#listBody
{

	background:#f8f8f8 !important;
}
#totalTitle
{
	font-size:17px;
	font-weight:bold;
	color:#001b55;
	padding-left: 16px;
	padding-bottom: 5px;
}
.listItem
{
	height:33px;
	position:relative;
	font-size:12px;
	font-weight:bold;
	padding: 8px 10px 8px 10px;
	border: 1px solid #bcbcbc;
border-radius: 6px;
box-shadow: 0 1px 3px #E6E6E6;
	background:white;
	margin-bottom:20px;
	cursor:pointer;
	overflow:hidden;
}
.checkbox
{
	float: left;
margin-top: 5px;
margin-left: 22px;
}
.checkbox1
{
	float: left;
margin: 2px 0px 0px 1px;

}
.btnFunction
{
	line-height: 22px;
box-shadow: none;
position: relative;
float:left;
padding: 0px 12px;
font-size: 13px;
font-weight: bold;
color: #333;
text-shadow: 0 1px 0 rgba(255,255,255,0.9);
white-space: nowrap;
background-color: #eeeeee;
background-image: -moz-linear-gradient(top,#ffffff 0%,#ebebeb 90%,#F3F3F3 100%);
background-image: -webkit-linear-gradient(top,#ffffff 0%,#ebebeb 90%,#F3F3F3 100%);
background-image: linear-gradient(top,#ffffff 0%,#ebebeb 90%,#F3F3F3 100%);
background-repeat: repeat-x;
border-radius: 3px;
border: 1px solid rgb(177, 176, 176);
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
margin-left: 3px;
}
#verticalLine
{
	float:left;
	border-left: 1px solid rgb(177, 177, 177);
border-right: 1px solid white;
height: 20px;
margin-top: 3px;
margin-left: 5px;
margin-right: 2px;
	
}
#btnFunctionWrapper
{
padding-left: 11px;
padding-top: 6px;
}
.btnMore
{
	float:right;
	text-decoration:none;
	line-height: 20px;
box-shadow: none;
position: relative;
display: inline-block;
padding: 0px 12px;
font-size: 13px;
font-weight: bold;
white-space: nowrap;
	color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: rgb(94, 151, 189);
background-image: -moz-linear-gradient(rgb(155, 207, 255),rgb(94, 151, 189));
background-image: -webkit-linear-gradient(rgb(155, 207, 255),rgb(94, 151, 189));
background-image: linear-gradient(rgb(155, 207, 255), rgb(94, 151, 189));
background-repeat: repeat-x;

border-radius: 3px;
border: 1px solid rgb(152, 207, 243);
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
}
.btnUpdate
{
	margin:0px;
	float:right;
	text-decoration:none;
	line-height: 20px;
box-shadow: none;
position: relative;
display: inline-block;
padding: 0px 12px;
font-size: 13px;
font-weight: bold;
white-space: nowrap;
	color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: rgb(94, 151, 189);
background-image: -moz-linear-gradient(rgb(155, 207, 255),rgb(94, 151, 189));
background-image: -webkit-linear-gradient(rgb(155, 207, 255),rgb(94, 151, 189));
background-image: linear-gradient(rgb(155, 207, 255), rgb(94, 151, 189));
background-repeat: repeat-x;

border-radius: 3px;
border: 1px solid rgb(152, 207, 243);
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
}
.btnDelete
{
	text-align: center;
	margin-left: 15px;
	float: left;
text-decoration: none;
line-height: 20px;
box-shadow: none;
position: relative;
display: inline-block;
padding: 0px 12px;
font-size: 13px;
font-weight: bold;
white-space: nowrap;
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: rgb(255,48, 48);
background-image: -moz-linear-gradient(rgb(252,110,110),rgb(255,48,48));
background-image: -webkit-linear-gradient(rgb(252, 110, 110),rgb(255,48,48));
background-image: linear-gradient(rgb(252, 110, 110), rgb(255, 48, 48));
background-repeat: repeat-x;
border-radius: 3px;
border: 1px solid rgb(211, 55, 55);
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
}
#reservationTableWrapper table td input
{
	width: 266px;
border: 1px solid rgb(184, 184, 184);
line-height: 21px;
padding-left: 8px;
}
.readonlyInfo
{
	border:none !important;
}
.btnWrapper
{
	height: 65px;
	
}
.reservationLcBtn
{
	width:100px !important;
}
.ticketTitle
{
	border-bottom: 1px solid #cccccc;
margin-top: 10px;
padding: 10px;
font-size: 20px;
color: rgb(99, 97, 97);
margin-bottom: 10px;
}
.ticketContent
{
	padding:13px;
	line-height: 17px;
font-size: 13px;
color:rgb(77, 77, 77)

}
#close {
	cursor:pointer;
float:right;
}
#headerText
{
	font-weight: bold;
color: #333;
text-shadow: 0 1px 0 #fff;
}
.panelHeader {
padding: 8px 10px;
background-color: #eeeeee;
background-image: -moz-linear-gradient(#fafafa, #eee);
background-image: -webkit-linear-gradient(#fafafa, #eee);
background-image: linear-gradient(#fafafa, #eee);
background-repeat: repeat-x;
border-bottom: 1px solid #ddd;
font-size: 14px;
}
#moreInfo
{box-shadow: 0 1px 3px rgb(190, 190, 190);
width: 515px;
height: 339px;
position: absolute;
z-index: 1000;
border: 1px solid #cccccc;
display: none;
border-radius: 5px;
}
.listContent1
{
	float:left;
	width: 102px;
	white-space:nowrap; 
text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow: hidden; 
height:15px;
}
.downImg
{
	height: 6px;
width: 9px;
margin-left: 7px;
}
.listContent2
{
	float:left;
	width: 313px;
margin-left: 20px;
white-space:nowrap; 
text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow: hidden; 
height:15px;
}
.listContent3
{
	float:left;
	width: 72px;
margin-left: 20px;
white-space:nowrap; 
text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow: hidden; 
height:15px;
}
#warning
{
	color:rgb(204, 0, 0);
}
#modifyWrapper
{

}
.listFoldBtn
{
   height: 22px;
width: 40px;

position: absolute;
right:0px;
top: 0px;
border-bottom-left-radius: 6px;
background: linear-gradient(top,#e8e8e8,#d9d9d9);
background: -webkit-linear-gradient(top,#e8e8e8,#d9d9d9);
background: -moz-linear-gradient(top,#e8e8e8,#d9d9d9);
display:none;
cursor:pointer;
}
.listFoldImg
{
	width: 25px;
position: absolute;
top: 3px;
left: 7px;

}
.reservationInfo
{
	display:none;
}
.listContent
{
    margin-left: 54px;
}
#listInfoWrapper1
{
position: fixed;
bottom: 0px;
width: 100%;
padding-top:5px;
height: 36px;
line-height: 30px;

padding-right: 35px;
	background: -webkit-gradient(linear,0 0,0 100%,from(rgb(224, 228, 235)),to(rgb(204, 210, 221)));
background: -moz-linear-gradient(top,rgb(224, 228, 235),rgb(204, 210, 221));
background-color: #bcc2cd;

}
#listTitle
{
	height:36px;
	background: -webkit-gradient(linear,0 0,0 100%,from(rgb(224, 228, 235)),to(rgb(204, 210, 221)));
background: -moz-linear-gradient(top,rgb(224, 228, 235),rgb(204, 210, 221));
background-color: #bcc2cd;
position:relative;
}
.panelHeader {
padding: 8px 10px;
background-color: #eeeeee;
background-image: -moz-linear-gradient(#fafafa, #eee);
background-image: -webkit-linear-gradient(#fafafa, #eee);
background-image: linear-gradient(#fafafa, #eee);
background-repeat: repeat-x;
border-bottom: 1px solid #ddd;
font-size: 14px;
}

.close {
	cursor:pointer;
float:right;
}
.headerText
{
	font-weight: bold;
color: #333;
text-shadow: 0 1px 0 #fff;
}
#sortPanel
{
	position:absolute;
	z-index:1000;
	top: 33px;
    left: 150px;
	display:none;
	width:300px;
	overflow:hidden;
	background:white;
	border-radius:5px;
	border:1px solid #cccccc;
	box-shadow: 0 3px 12px rgba(0,0,0,0.25);
}
#showPanel
{
	position:absolute;
	z-index:1000;
	top: 33px;
    left: 69px;
	display:none;
	width:300px;
	overflow:hidden;
	background:white;
	border-radius:5px;
	border:1px solid #cccccc;
	box-shadow: 0 3px 12px rgba(0,0,0,0.25);
}
.sortPanelItem
{
	color:rgb(105, 105, 105);
	padding:8px 0px 8px 8px;
	text-align:left;
	display:block;
	border-bottom: 1px solid #eee;
	cursor:pointer;
	text-decoration:none;
	
}
#totalWrapper
{
	padding-bottom: 31px;
}
#listWrapper
{
	
	
	padding:10px;
	padding-bottom: 0px;
}
#topBar
{
	height:25px;
	background:#f2f4f6;
	border-bottom:1px solid #c1c8d2;
	margin-bottom:10px;
}
.topBarItem
{
	margin-top:4px;
	border-left:1px solid rgb(226, 223, 223);
	padding-left:9px;

}
.topBarItem3
{
		float:left;
	width: 150px;
margin-left: 20px;
white-space:nowrap; 
text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow: hidden; 
height:15px;
}
.topBarItem2
{
		float:left;
	width: 312px;
margin-left: 20px;
white-space:nowrap; 
text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow: hidden; 
height:15px;
}
.topBarItem1
{
	margin-top:4px;
	margin-left:38px;
		float:left;
	width: 102px;
	white-space:nowrap; 
text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow: hidden; 
height:15px;

}
::-webkit-scrollbar
{
	width:6px;
	height:6px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 6px;
}
table{
	
width: 100%;
text-align: center;
background-color:white;
border: 1px solid #cccccc;
border-radius: 3px;
box-shadow: 0 1px 12px rgb(233, 233, 233);
}
th{
	width:25%;
	font-size: 14px;
color: rgb(92, 92, 92);
}
td.operation
{
	padding-left: 36px;
}
td
{
	line-height: 49px;
font-size: 16px;
color: rgb(139, 139, 139);

}