.calBody{padding:0;margin:0;font:normal 14px/25px "\5FAE\8F6F\96C5\9ED1";color:#555;}
.day ul,.day li{margin:0;padding:0;}
.day li{list-style:none;}

.day{width:850px;margin:10px auto;}
.day table{width:100%;text-align:center;border-collapse:collapse;border-spacing:0;line-height:30px;}
.day table th{background:rgb(236, 236, 236);font-weight:normal;line-height:40px;font-size:14px;}
.day table td,.day th{border:1px solid rgb(218, 216, 216);line-height:40px;position: relative;}
.day table td:hover{background:#4092CC;color:#FFF;}
.day table td:nth-child(1),table td:nth-child(7),table th:nth-child(1),table th:nth-child(7){color:#C00}
.day table td.now{background:#4092CC;color:#FFF;cursor:pointer;}

.DaySelect{margin-bottom:10px;}
.DaySelect > div{display:inline-block;#float:left;}
.DaySelect i{cursor:pointer;#float:left;}
.DaySelect i:hover{color:#C00;}
.DaySelect .lr{width:30px;display:inline-block;text-align:center;font-size:18px;}

.select{width:90px;text-indent:10px;position:relative;}
.stop{border:1px solid #EEE;}
.stop:before{width:8px;height:8px;display:block;float:right;margin-right:10px;margin-top:5px;font-size:0;line-height:0;border:1px solid #AAA;border-left:none;border-top:none;transform:rotate(45deg);}
.sbox{width:88px;max-height:0;overflow:auto;cursor:pointer;position:absolute;top:25px;left:0;background:#FFF;font-size:12px;text-align:center;}
.sbox li:hover{background:#EEE;}
.select:hover .stop{background:#EEE;}
.select:hover .stop:before{transform:rotate(225deg);margin-top:10px;transition:transform .2s linear}
.select:hover .sbox{max-height:200px;border:1px solid #EEE;border-top-color:#FFF;;transition:max-height .2s ease-in-out;}

#cy:after{content:" Year;}
#cm:after{content:" Month;}
#sm{width:70px;}
#mm{width:68px;}
.pass
{
	background-color:rgb(236, 252, 255);
}
/* .booked */
/* { */
/* background-color:rgb(252, 237, 178); */
/* color:white; */
/* cursor:pointer; */
/* } */
.idle
{
cursor:pointer;
}
.bookedDiv
{
width: 15px;
height: 15px;
background-color: rgb(255, 186, 186);

position: absolute;
top: -1px;
left: -1px;
border-radius: 3px;
}
#bookedDiv1
{
width: 15px;
height: 15px;
background-color: rgb(255, 186, 186);
margin-top: 5px;
margin-right: 10px;
float:right;
border-radius: 3px;
}
#bookedWord1
{
	float:right;
}
#bottomWrapper
{
	padding-right:40px;
	
}