*
{
-moz-box-sizing: border-box;
box-sizing:border-box;
}
ul
{
padding:0;
margin-top: 0;
margin-bottom: 0;
}
li
{
list-style-type: none;
border:0;
display:table-cell;						
width:1%;
}
li:first-child
{
border-top-left-radius:3px;
border-bottom-left-radius:3px;
}
li:last-child
{
border-top-right-radius:3px;
border-bottom-right-radius:3px;
}
body
{
background-color:white;
margin:0px;
font: 13px Helvetica, arial, freesans, clean, sans-serif;
}
.header
{
background-color:#34302d;
box-shadow: 0px 0px 10px;

}
.headerContainer
{
width:980px;
margin:0 auto;
height:41px;

}
#logo
{
float: left;
margin-top: 8px;
} 
.seperateLine
{

border-bottom: 1px solid #eee;
padding-bottom:20px;
margin-bottom:20px;
}
.navContainer
{
width:980px;
margin:0 auto;
}
.navi
{
font-size:12px;
font-weight:bold;
margin-bottom:20px;
background-color: #eaeaea;
background-image: -moz-linear-gradient(#fafafa, #eaeaea);
background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
background-image: linear-gradient(#fafafa, #eaeaea);
background-repeat: repeat-x;
border: 1px solid #eaeaea;
border-bottom-color: #cacaca;
border-radius: 3px;
padding:0px;
}
.navItem
{
text-align:center;
line-height:35px;
display:block;

font-weight:bold;
text-decoration:none;
color: #777;
text-shadow: 0 1px 0 white;
cursor:auto;
border-right: 1px solid #eee;
border-right-color: rgba(0,0,0,0.04);
border-left: 1px solid #fcfcfc;
border-left-color: rgba(255,255,255,0.7);
border-bottom: 2px solid #dadada;
}
li a:hover
{
color: #4183c4;
border-bottom: 2px solid #cfdce8;
background-color: #dce6ef;
background-image: -moz-linear-gradient(#fafbfd, #dce6ef);
background-image: -webkit-linear-gradient(#fafbfd, #dce6ef);
background-image: linear-gradient(#fafbfd, #dce6ef);
background-repeat: repeat-x;
}
a.selected
{
color: #000;
background-color: #ebebeb;
background-image: -moz-linear-gradient(#fcfcfc, #ebebeb);
background-image: -webkit-linear-gradient(#fcfcfc, #ebebeb);
background-image: linear-gradient(#fcfcfc, #ebebeb);
background-repeat: repeat-x;
border-bottom: 2px solid #d26911;
}
a.selected:hover
{
color: #000;
background-color: #ebebeb;
background-image: -moz-linear-gradient(#fcfcfc, #ebebeb);
background-image: -webkit-linear-gradient(#fcfcfc, #ebebeb);
background-image: linear-gradient(#fcfcfc, #ebebeb);
background-repeat: repeat-x;
border-bottom: 2px solid #d26911;
}
.middleContainer
{
	
width:980px;
margin:0 auto;

box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.5);

}
.roomList
{
color: #fff;
font-size: 16px;
font-weight: bold;
background-color: #829aa8;
border: 1px solid #677c89;
border-bottom-color: #6b808d;
border-radius: 5px 5px 0 0;
text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
margin: 0;
padding: 8px 10px;
position: relative;
line-height:1.1;
}
.roomListBody
{
padding: 10px 1%;
background-color: white;

border:1px solid silver;
border-radius: 0 0 5px 5px;
padding:20px;

}
.cover
{
cursor:pointer;
position: fixed;
width: 100%;
height: 100%;
z-index: 3000;
background-color: rgba(0, 0, 0, 0.72);
}

.roomListHeader
{
height:36px;
margin-bottom:20px;
border-bottom:1px solid #ddd;
}
.roomListTitle
{
float:left;
font-size:14px;
line-height:20px;
padding:8px 12px 7px;
border-color: #ddd;
border-radius: 3px 3px 0 0;
background-color: #fff;
color: #333;
border: 1px solid #ddd;
border-bottom: 0;
}
.roomListContent
{
display:block;
height:84px;
width:930px;
position: relative;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 15px;
border-bottom: 1px solid #eee;
line-height: 43px;
}
.roomicon
{
float:left;
margin-left:10px;
}
.roomListNum
{
float:left;		
color:rgb(185,185,185);
}
.roomNum
{
font-size:20px;
font-weight:bold;
margin-left:20px;
color: #4183c4;
cursor:auto;
line-height: 43px;
}
.btnCalendar
{
float:right;
margin-right:30px;
margin-top:10px;
}
.btn
{

line-height: 28px;
box-shadow: none;
position: relative;
display: inline-block;
padding: 0px 12px;
font-size: 13px;
font-weight: bold;
color: #333;
text-shadow: 0 1px 0 rgba(255,255,255,0.9);
white-space: nowrap;
background-color: #eeeeee;
background-image: -moz-linear-gradient(#fcfcfc, #eee);
background-image: -webkit-linear-gradient(#fcfcfc, #eee);
background-image: linear-gradient(#fcfcfc, #eee);
background-repeat: repeat-x;
border-radius: 3px;
border: 1px solid #d5d5d5;
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
}
.btnLogout
{



line-height: 24px;
box-shadow: none;
position: relative;
display: inline-block;
padding: 0px 12px;
font-size: 13px;
font-weight: bold;
white-space: nowrap;
	color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #60b044;
background-image: -moz-linear-gradient(#8add6d, #60b044);
background-image: -webkit-linear-gradient(#8add6d, #60b044);
background-image: linear-gradient(#8add6d, #60b044);
background-repeat: repeat-x;

border-radius: 3px;
border: 1px solid #5ca941;
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
}
.calImg
{
position:relative;
top:3px;
}
.calText
{

}
.calArea
{
margin-top:20px;
height:380px;

display:none;
}
.status
{
	height:50px;
}
.statusContainer
{
	width:980px;
	margin:0 auto;
}
#logoutBtn
{
	float:right;
	margin-top:30px;
	
}
.btnSelected
{
	background-color: #dcdcdc;
background-image: none;
border-color: #b5b5b5;
box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
}
.btnLogoutSelected
{
	background-color:#60b044;
background-image: none;
border-color: rgb(83, 151, 58);
box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
}
.btnHover
{
	
	background-image: -moz-linear-gradient(rgb(135, 214, 107), rgb(91, 163, 66));
background-image: -webkit-linear-gradient(rgb(135, 214, 107), rgb(91, 163, 66));
background-image: linear-gradient(rgb(135, 214, 107), rgb(91, 163, 66));
	
border-color: #b5b5b5;
}
.floatTicket
{
position: fixed;
left: 50%;
margin-left: -300px;
top:50px;
z-index: 5000;
background-color: #fff;
border: 1px solid rgba(0,0,0,0.15);
border-top: none;
border-radius:5px;
box-shadow: 0 3px 12px rgba(0,0,0,0.25);
width: 600px;
height: 560px;
overflow: hidden;
color: #666;

}

.iframe
{
	border-radius:5px;
}
#logoutIcon
{
	position:relative;
	top:-5px;
}
#logoutImage
{
	display: inline-block;
height: 10px;
}
#userInfo
{
	float:left;
	margin-top: 30px;
}
#userName
{
	float:left;
	line-height: 42px;
	margin-left: 20px;
	font-size: 18px;
font-weight: bold;
color: gray;
}
#userCard
{
	float:left;
}









/* ********************************************footer********************************* */


#footer{height:216px; background:url(../image/footer-bg.jpg) repeat-x bottom; width:100%; 

float:left; padding-top:23px}
#footer{height:216px; background:url(../image/footer-bg.jpg) repeat-x bottom; width:100%; 

float:left; padding-top:23px}
#footer-inner{width:960px; margin:0 auto; padding:0 20px; display:table}
#footer-inner h3{font-size:18px; border-bottom:1px dotted #6a6a6a; font-weight:normal; 

padding-bottom:9px; letter-spacing:1px; margin-bottom:13px; color:#fff; text-shadow:0px 

0px 1px #000}
#footer-inner p{color:#fff;  text-shadow:0px 0px 1px #000}
#footer-inner img.grayborR{border:1px solid #a3a3a3; background:#ccc;  padding:3px;  -

webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 

0.3s linear; -transition:all 0.3s linear}
#footer-inner img.grayborR:hover{opacity:0.7; cursor:pointer}
.client-say{width:465px; margin-right:20px; float:left}
.footer-details{width:220px; float:left; margin-right:35px}

/** BOTTOM ADDRESS **/
.address{padding-left:20pxa; color:#babdc0; font-family:tahoma,arial; padding-

bottom:19px}
.address img{float:left; padding-right:7px}
.address strong{font-weight:bold; color:#fff; display:block; float:left; padding-

bottom:8px; padding-right:4px; font-family:Arial,Helvetica,sans-serif}
.address a{color:#2fb3cf}
.address a:hover{color:#babdc0}

.Finfo{width:960px; font-family:tahoma,arial; line-height:46px; color:#bbbdc0; 

background:url(../image/info-bg.png) repeat-x bottom; height:46px; margin:10px auto 0; 

border-radius:5px 6px 0 0; padding:0 20px}
.Finfo a{color:#fff}
.copyright{float:left}
.designby{float:right}