#listBody
{
	padding:10px;
	background:#f8f8f8 !important;
}
.listItem
{
	font-size:12px;
	font-weight:bold;
	padding: 8px 10px 8px 10px;
	border: 1px solid #bcbcbc;
border-radius: 6px;
box-shadow: 0 1px 3px #E6E6E6;
	background:white;
	margin-bottom:20px;
	cursor:pointer;
	overflow:hidden;
}
.listContent1
{
	float:left;
	width: 100px;
	white-space:nowrap; 
text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow: hidden; 
height:15px;
}
.listContent2
{
	float:left;
	width: 350px;
margin-left: 20px;
white-space:nowrap; 
text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow: hidden; 
height:15px;
}
.listContent3
{
	float:left;
	width: 150px;
margin-left: 20px;
white-space:nowrap; 
text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow: hidden; 
height:15px;
}