#listBody
{

	background:#f8f8f8 !important;
}
.listItem
{
	height:33px;
	position:relative;
	font-size:12px;
	font-weight:bold;
	padding: 8px 10px 8px 10px;
	border: 1px solid #bcbcbc;
border-radius: 6px;
box-shadow: 0 1px 3px #E6E6E6;
	background:white;
	margin-bottom:20px;
	cursor:pointer;
	overflow:hidden;
}
.btnMore
{
	float:right;
	text-decoration:none;
	line-height: 20px;
box-shadow: none;
position: relative;
display: inline-block;
padding: 0px 12px;
font-size: 13px;
font-weight: bold;
white-space: nowrap;
	color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: rgb(94, 151, 189);
background-image: -moz-linear-gradient(rgb(155, 207, 255),rgb(94, 151, 189));
background-image: -webkit-linear-gradient(rgb(155, 207, 255),rgb(94, 151, 189));
background-image: linear-gradient(rgb(155, 207, 255), rgb(94, 151, 189));
background-repeat: repeat-x;

border-radius: 3px;
border: 1px solid rgb(152, 207, 243);
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
}
.ticketTitle
{
	border-bottom: 1px solid #cccccc;
margin-top: 10px;
padding: 10px;
font-size: 20px;
color: rgb(99, 97, 97);
margin-bottom: 10px;
}
.ticketContent
{
	padding:13px;
	line-height: 17px;
font-size: 13px;
color:rgb(77, 77, 77)

}
#moreInfo
{
	width:300px;
	height:300px;
	display:none;
}
.listContent1
{
	float:left;
	width: 100px;
	white-space:nowrap; 
text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow: hidden; 
height:15px;
}
.listContent2
{
	float:left;
	width: 350px;
margin-left: 20px;
white-space:nowrap; 
text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow: hidden; 
height:15px;
}
.listContent3
{
	float:left;
	width: 150px;
margin-left: 20px;
white-space:nowrap; 
text-overflow:ellipsis; 
-o-text-overflow:ellipsis; 
overflow: hidden; 
height:15px;
}
.listFoldBtn
{
   height: 22px;
width: 40px;

position: absolute;
right:0px;
top: 0px;
border-bottom-left-radius: 6px;
background: linear-gradient(top,#e8e8e8,#d9d9d9);
background: -webkit-linear-gradient(top,#e8e8e8,#d9d9d9);
background: -moz-linear-gradient(top,#e8e8e8,#d9d9d9);
display:none;
cursor:pointer;
}
.listFoldImg
{
	width: 25px;
position: absolute;
top: 3px;
left: 7px;

}
.reservationInfo
{
	display:none;
}
.listContent
{

}
#listInfoWrapper1
{
padding-top:5px;
height: 36px;
line-height: 30px;

padding-right: 35px;
	background: -webkit-gradient(linear,0 0,0 100%,from(rgb(224, 228, 235)),to(rgb(204, 210, 221)));
background: -moz-linear-gradient(top,rgb(224, 228, 235),rgb(204, 210, 221));
background-color: #bcc2cd;

}
#listTitle
{
	height:36px;
	background: -webkit-gradient(linear,0 0,0 100%,from(rgb(224, 228, 235)),to(rgb(204, 210, 221)));
background: -moz-linear-gradient(top,rgb(224, 228, 235),rgb(204, 210, 221));
background-color: #bcc2cd;
}
#listWrapper
{
	padding:10px;
	padding-bottom: 0px;
}
#topBar
{
	height:25px;
	background:#f2f4f6;
	border-bottom:1px solid #c1c8d2;
	margin-bottom:10px;
}
.topBarItem
{
	margin-top:4px;
	border-left:1px solid rgb(226, 223, 223);
	padding-left:9px;

}
.topBarItem1
{
	margin-top:4px;
	margin-left:15px;
	border-left:none;
}
::-webkit-scrollbar
{
	width:6px;
	height:6px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 6px;
}