h1
{
	rgb(105, 102, 102)
}
#roomDeptment
{
	float:left;
}
#noInfo
{
	height: 154px;
background: #f5f5f5;
margin-top: 10px;
}
#noInfo p
{
	padding-left: 323px;
font-size: 16px;
color:rgb(129, 129, 129);
padding-top: 65px;
}
#departments
{

	float: left;
width: 128px;
margin-left: 10px;
border: 1px solid rgb(153, 152, 152);
border-radius: 2px;
height: 25px;
font-size: 14px;
}
#checkBtn
{
	
	margin:0px;
	margin-left:15px;
	float:left;
	line-height: 23px;
box-shadow: none;
position: relative;
display: inline-block;
padding: 0px 12px;
font-size: 13px;
font-weight: bold;
white-space: nowrap;
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #60b044;
background-image: -moz-linear-gradient(#8add6d, #60b044);
background-image: -webkit-linear-gradient(#8add6d, #60b044);
background-image: linear-gradient(#8add6d, #60b044);
background-repeat: repeat-x;
border-radius: 3px;
border: 1px solid #5ca941;
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
}
#deleteBtn
{
	margin:0px;
	text-align: center;
	
margin-left: 15px;
float: left;
text-decoration: none;
line-height: 23px;
box-shadow: none;
position: relative;
display: inline-block;
padding: 0px 12px;
font-size: 13px;
font-weight: bold;
white-space: nowrap;
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: rgb(255,48, 48);
background-image: -moz-linear-gradient(rgb(252,110,110),rgb(255,48,48));
background-image: -webkit-linear-gradient(rgb(252, 110, 110),rgb(255,48,48));
background-image: linear-gradient(rgb(252, 110, 110), rgb(255, 48, 48));
background-repeat: repeat-x;
border-radius: 3px;
border: 1px solid rgb(211, 55, 55);
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
}
#addBtn
{
	
	margin:0px;
	margin-left:15px;
	float: left;
line-height: 23px;
box-shadow: none;
position: relative;
display: inline-block;
padding: 0px 25px;
font-size: 13px;
font-weight: bold;
white-space: nowrap;
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: rgb(94, 151, 189);
background-image: -moz-linear-gradient(rgb(155, 207, 255),rgb(94, 151, 189));
background-image: -webkit-linear-gradient(rgb(155, 207, 255),rgb(94, 151, 189));
background-image: linear-gradient(rgb(129, 181, 230), rgb(50, 111, 153));
background-repeat: repeat-x;
border-radius: 3px;
border: 1px solid rgb(78, 141, 182);
vertical-align: middle;
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;	
}
#searchWrapper
{
	overflow: hidden;
padding-top: 3px;
line-height: 22px;
font-size: 14px;
color: rgb(87, 87, 87);
}
#roomTitleWrapper
{
	
}
table
{
	width:100%;
	border: 1px solid #cccccc;
box-shadow: 0 0 12px rgb(236, 236, 236);

}
td
{
	text-align: center;
height: 40px;
font-size: 15px;
color: rgb(83, 83, 83);
}
th
{
	width:20%;
	height:40px;
}
.roomListBody1
{
	max-height:639px;
	
}
#displayWrapper
{
	max-height:476px;
	overflow:auto;
}
.operation
{
	font-size: 18px;
color: rgb(34, 123, 192);
text-decoration: none;

}
.check
{
	float:left;
}
::-webkit-scrollbar
{
	width:6px;
	height:6px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 6px;
}