<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 配置数据源 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost/trms1"></property>
		<property name="username" value="root"></property>
		<property name="password" value="link"></property>
	</bean>
	
	<!-- 配置SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">create-drop</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<!-- 注解domain类  -->
		<property name="annotatedClasses">
			<list>
				<value>com.dummy.domain.User</value>
				<value>com.dummy.domain.Role</value>
				<value>com.dummy.domain.UserRole</value>
				<value>com.dummy.domain.BlackList</value>
				<value>com.dummy.domain.Team</value>
				<value>com.dummy.domain.Room</value>
				<value>com.dummy.domain.Reservation</value>
			</list>
		</property>

	</bean>  
	
	
	
<!--
   <hibernate-mapping>
         <class name="BlackList" table="black_list">
               <id name="bl_ID" column="BL_ID" type="java.lang.Integer" length="11" not-null="true">
                     <generator class="identity" />
               </id>
               <property name="team_ID" column="Team_ID" type="java.lang.Integer" length="11" not-null="true" />
               <property name="reason" column="Reason" type="java.lang.String" length="255" not-null="true" />
         </class>>
         <class name="Reservation" table="reservation">
               <id name="reservation_ID" column="Reservation_ID" type="java.lang.Integer" length="11" not-null="true">
                     <generator class="identity" />
               </id>
               <property name="team_ID" column="Team_ID" type="java.lang.Integer" length="11"  not-null="true"/>
               <property name="room_ID" column="Room_ID" type="java.lang.Integer" length="11" not-null="true"/>
               <property name="user_ID" column="User_ID" type="java.lang.Integer" length="11" not-null="true"/>
               <property name="Applied_End_ Date" column="Applied_End_ Date" type="java.util.Date"  not-null="true"/>
               <property name="Applied_Start_ Date" column="Applied_Start_ Date" type="java.util.Date"  not-null="true"/>
               <property name="status" column="Status" type="java.lang.Integer" length="11" default="0"  not-null="true"/>
               <property name="Order_Time" column="order_Time" type="java.util.Date"  not-null="true"/>
               <property name="usage" column="Usage" type="java.lang.String" length="255" not-null="true"/>
         </class>
         <class name="Role" table="role">
                <id name="role_ID" column="Role_ID" type="java.lang.Integer" length="11" not-null="true">
                     <generator class="identity" />
               </id>
               <property name="authority" column="Authority" type="java.lang.String" length="50" not-null="true" />
               <property name="reason" column="Reason" type="java.lang.String" length="255" not-null="true" />
         </class>
   </hibernate-mapping>
-->






	<!-- 配置一个事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 配置事务，使用代理的方式 -->
	<bean id="transactionProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">  
	    <property name="transactionManager" ref="transactionManager"></property>  
	    <property name="transactionAttributes">  
	        <props>  
	            <prop key="add*">PROPAGATION_REQUIRED,-Exception</prop>  
	            <prop key="modify*">PROPAGATION_REQUIRED,-myException</prop>  
	            <prop key="del*">PROPAGATION_REQUIRED</prop>  
	            <prop key="*">PROPAGATION_REQUIRED</prop> 
	            <prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>  
                <prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>  
                <prop key="load*">PROPAGATION_REQUIRED,readOnly</prop>  
                <prop key="save*">PROPAGATION_REQUIRED</prop>  
                <prop key="update*">PROPAGATION_REQUIRED</prop>  
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
            </props>
	    </property>  
	</bean> 
	
</beans>
 
